#telalogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    /* s */
    /* opacity: 0.9; */

}


#fundo{
    background-color: rgb(255, 255, 255);
    background-image:url(../img/certa.png) ;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-size: cover; */
} 

#menu{
    background-color: rgb(22, 152, 175);
    float: left;
    top: 0;
    left: 0;
    
    vertical-align: top;
    width: 500px;
    height: 100%;
    display: inline-block; 
    bottom: 0%;
    
       
}
#t1{
    position:relative;
    left: 100px;

  
}
#t1esquerda{
    display: table-cell;
    float: left;
    width: 300px;
    height: 60px;
    margin-top: 50px;
    margin-left: 15px;

}
#t1direita{
    display: table-cell;
    float: left;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    margin-left: 15px;

}

#sairforleft{
    position: relative;
    left: 89%;
    color: black;
    

}



.optionmenu{
    color:black;
}

.itemoptionmenu{
    position: relative;
    left: 25%;
    margin-top: -25px;
    height: auto;
}
.contents{
    display: table;
}


.image_menu{
    display: table-cell;
    float: left;
    margin-left: 25px;
}


.option_menu{
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 15px;
}
.option_menu2{
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 15px;
   
}


#teacherpng{
    display: table-cell;
    max-width: 85px; 
    max-height: 100px;
}
/* 
#optionmenu{
    display: table-cell;
    top: 50%;
    left: 50%;
}  */