#telalogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    /* s */
    /* opacity: 0.9; */

}

#fundo{
    background-color: rgb(255, 255, 255);
    background-image:url(https://trello.com/1/cards/623512556148ac09d3a4ed00/attachments/62391d9f3b71ae87b7e19696/previews/62391da03b71ae87b7e196c1/download/certa.png) ;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-size: cover; */
} 